<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="/user">
        <label for="">Full Name</label>
        <input type="text" name="name" id="">
        <label for="">Email</label>
        <input type="text" name="email" id="">
        <label for="">Password</label>
        <input type="text" name="password" id="">
        <button type="submit">Signup</button>
    </form>
</body>
</html>